@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family:
      'Pretendard Variable',
      Pretendard,
      -apple-system,
      BlinkMacSystemFont,
      system-ui,
      Roboto,
      'Helvetica Neue',
      'Segoe UI',
      'Apple SD Gothic Neo',
      'Noto Sans KR',
      'Malgun Gothic',
      'Apple Color Emoji',
      'Segoe UI Emoji',
      'Segoe UI Symbol',
      sans-serif;
    color: theme('colors.base.black');
    color-scheme: light;
    touch-action: manipulation;
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: none;
    -moz-text-size-adjust: none;
    scroll-behavior: smooth;
    box-sizing: border-box;
  }

  a {
    cursor: pointer;
  }

  input {
    &:focus {
      outline: none;
    }
  }

  html,
  body,#root {
    height: theme('height.full');
  }
}

@layer components {
  /** 콘텐츠 내부 섹션 기본 UI */
  .contents_section {
    @apply gap-[16px] px-x-sm md:gap-[8px] md:px-x-lg;
  }
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }

  .inline-flex-center {
    @apply inline-flex justify-center items-center;
  }
}
